<img src="img/GNZK_ru_logo_gor.svg" class="logo" />

<div class="list-block">
    <ul>
        {{#each menu}}
            {{#if_eq_strict info_page_id null}}
                {{#if_eq name "programme"}}
                    <li>
                        <a href="#" data-controller="programme" class="item-link item-content" data-close-panel="true">
                            <div class="item-media"><i class="f7-icons">calendar</i></div>
                            <div class="item-inner">
                                <div class="item-title">{{html10n "program"}}</div>
                            </div>
                        </a>
                    </li>
                {{/if_eq}}

                {{#if_eq name "my-agenda"}}
                    <li>
                        <a href="#" data-controller="myAgenda" class="item-link item-content" data-close-panel="true">
                            <div class="item-media"><img src="img/icons/icons8-today-100.png" alt="" /></div>
                            <div class="item-inner">
                                <div class="item-title">{{html10n "my program"}}</div>
                            </div>
                        </a>
                    </li>
                {{/if_eq}}

                {{#if_eq name "speakers"}}
                    <li>
                        <a href="#" data-controller="speakers" class="item-link item-content" data-close-panel="true">
                            <div class="item-media"><i class="f7-icons">persons</i></div>
                            <div class="item-inner">
                                <div class="item-title">{{html10n "speakers"}}</div>
                            </div>
                        </a>
                    </li>
                {{/if_eq}}

                {{#if_eq name "map"}}
                    <li>
                        <a href="#" data-controller="map" class="item-link item-content" data-close-panel="true">
                            <div class="item-media"><i class="f7-icons">compass</i></div>
                            <div class="item-inner">
                                <div class="item-title">{{html10n "map"}}</div>
                            </div>
                        </a>
                    </li>
                {{/if_eq}}

                {{#if_eq name "news"}}
                    <li>
                        <a href="#" data-controller="news" class="item-link item-content" data-close-panel="true">
                            <div class="item-media"><img src="img/icons/icons8-news-500.png" alt="" /></div>
                            <div class="item-inner">
                                <div class="item-title">{{html10n "news"}}</div>
                                {{#if ../unreadNewsCount}}
                                    <div class="item-after news-unread-badge">
                                        <span class="badge">{{../unreadNewsCount}}</span>
                                    </div>
                                {{/if}}
                            </div>
                        </a>
                    </li>
                {{/if_eq}}

                {{#if_eq name "notes"}}
                    <!--<li class="item-link item-content">
                        <div class="item-media"><i class="f7-icons">compose</i></div>
                        <div class="item-inner">
                            <div class="item-title">Заметки</div>
                        </div>
                    </li>-->
                {{/if_eq}}

                {{#if_eq name "voting"}}
                    <li>
                        <a href="#" data-controller="voting" class="item-link item-content" data-close-panel="true">
                            <div class="item-media"><i class="f7-icons">check</i></div>
                            <div class="item-inner">
                                <div class="item-title">{{html10n "voting"}}</div>
                            </div>
                        </a>
                    </li>
                {{/if_eq}}

                {{#if_eq name "questions"}}
                    <li>
                        <a href="#" data-controller="questions" class="item-link item-content" data-close-panel="true">
                            <div class="item-media"><i class="f7-icons">help</i></div>
                            <div class="item-inner">
                                <div class="item-title">{{html10n "questions"}}</div>
                            </div>
                        </a>
                    </li>
                {{/if_eq}}

                {{#if_eq name "settings"}}
                    <li>
                        <a href="#" data-controller="settings" class="item-link item-content" data-close-panel="true">
                            <div class="item-media"><i class="f7-icons">gear</i></div>
                            <div class="item-inner">
                                <div class="item-title">{{html10n "settings"}}</div>
                            </div>
                        </a>
                    </li>
                {{/if_eq}}
            {{else}}
                <li>
                    <a href="#" data-controller="customPage" data-query='{"pageID": {{info_page_id}} }' data-ignore-cache class="item-link item-content" data-close-panel="true">
                        <div class="item-media"><img src="data:{{icon_mime}};base64,{{icon_b64}}" alt="" /></div>
                        <div class="item-inner">
                            <div class="item-title">
                                {{#if_eq ../language "ru"}}
                                    {{title_ru}}
                                {{/if_eq}}
                                {{#if_eq ../language "en"}}
                                    {{title_en}}
                                {{/if_eq}}
                            </div>
                        </div>
                    </a>
                </li>
            {{/if_eq_strict}}
        {{/each}}
        <!--<li class="item-link item-content">
            <div class="item-media"><i class="f7-icons">compose</i></div>
            <div class="item-inner">
                <div class="item-title">Заметки</div>
            </div>
        </li>-->
    </ul>
</div>
