<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <!--
              Link contains only icon - additional "icon-only" class
              Additional "open-panel" class tells app to open panel when we click on this link
            -->
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
        <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
        <div class="center sliding">{{html10n "settings"}}</div>
        <div class="right"></div>
    </div>
</div>

<div data-page="settings" class="page" data-title="Настройки">
    <div class="page-content">
        <script type="text/template">
            {{#if_eq god true}}
            <div class="list-block">
                <ul>
                    <li>
                        <a href="#" class="item-link smart-select" data-back-on-select="true">
                            <select name="style">
                                <option value="ios" {{#if_eq style "ios"}} selected {{/if_eq}}>iOS</option>
                                <option value="material" {{#if_eq style "material"}} selected {{/if_eq}}>Material (Android)</option>
                            </select>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">{{html10n "choose skin"}}</div>
                                    <div class="item-after"></div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            {{/if_eq}}

            <div class="list-block">
                <ul>
                    <li>
                        <a href="#" class="item-link smart-select" data-back-on-select="true">
                            <select name="language">
                                <option value="en" {{#if_eq language "en"}} selected {{/if_eq}}>English</option>
                                <option value="ru" {{#if_eq language "ru"}} selected {{/if_eq}}>Русский</option>
                            </select>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">{{html10n "choose language"}}</div>
                                    <div class="item-after"></div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <p id="version-number" style="text-align: center;">{{html10n "version app"}} <span id="ver">###</span></p>

            {{#if_eq god true}}
            <p id="schedule-timestamp" style="text-align: center;">{{html10n "version schedule"}} {{date confTimestamp}}</p>
            <p style="text-align: center;">{{html10n "last verified schedule timestamp"}} {{date lastVerifiedTimestamp}}</p>
            <a href="#" class="button" id="abortGod">Выйти из тестового режима</a>
            {{/if_eq}}
        </script>
    </div>
</div>
