.organizers {
    display: -js-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.organizers a {
    display: block;
    flex-shrink: 1;
    margin: 0 20px;
}
.organizers a > img {
    display: block;
}
@media only screen and (max-width: 314px) {
    .organizers a > img {
        height: auto;
        /*width: calc(50vw - 35px); /* half of CRF logo */
    }
    .organizers a > img {
        height: auto;
        /*width: calc(100vw - 70px);*/
    }
}
